.list-name {
  /* color: #004D9F; */
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
  padding: 2px;
  width: 140px;
}

.list-name:hover {
  background-color: #BFD7EF;
}

.logo {
  margin-left: 10px;
  margin-top: 8px;
  width: 150px;
  cursor: pointer;
}

.allTasks-header, .lists-header {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.header-container {
  border-bottom: 1px solid #BFD9F1;
  padding-bottom: 15px;
  margin-bottom: 0px;
  width: 140px;
}

.lists-header-container {
  border-bottom: 1px solid #BFD9F1;
  padding-bottom: 8px;
  width: 140px;
  height: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.lists-header-container:hover {
  background-color: #BFD7EF;
}

*{
  font-size: 14px;
}

.br-test {
  color: black;
}

.carret, .carret-right{
  background-color: transparent;
  border: 0px;
}

.carret-right {
  padding-right:8px;
}

.allTasks-header:hover {
  background-color: #BFD7EF;
}

.addList {
  font-size: 12px;
  /* border: 1px solid black; */
  max-height: 5px;
  padding: 0px 5px 3px 5px;
  /* font-size: 5px; */
  margin-left: 60px;
}

.addList:hover {
  background-color: rgb(165, 185, 206);
}
