.tasks-task {
  padding: 2px;
  /* background-color: ; */
  width: 51vw;
  border-bottom: 1px dotted lightblue;
  /* border-top: 1px solid black; */
}

.tasks-task:hover {
  background-color: #FFFFDF;
}

.check {
  background-color: white;
  cursor: pointer;
  width: 52vw;
  margin: 7px 0px 7px 0px;
  border: 1px solid darkgray;
  padding: 4px;
}

.check:hover {
  background-color: aliceblue;
}

.newTask-box {
  width: 51vw;
  margin: 7px 0px 7px 0px;
  border-top:0px;
  border-right:0px;
  border-left:0px;
}
