/* TODO Add site wide styles */
*{
  font-family: Segoe UI;
}

.page {
  background-color: #D7E7F5;
}

html {
  padding: 0px;
  margin: 0;
}

/* .profile-dropdown {
  position: absolute;
  border: 0px;
  background-color: blue;
}
.profile-dropdown>li {
} */

body {
  margin:0;
}
