/* TODO Add site wide styles */
*{
  font-family: Segoe UI;
}

.page {
  background-color: #D7E7F5;
}

html {
  padding: 0px;
  margin: 0;
}

.profile-dropdown {
  position: absolute;
  right: 0px;
  border: 0px;
  background-color: white;
  padding: 5px 10px;
}

.profile-dropdown > * {
  padding: 2px;
  text-align: right;
}
/* .profile-dropdown>li {
} */

body {
  margin:0;
}
