ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}
ul > li {
  display: flex;
  justify-content: space-between;
}

.sidebar-button {
  border: 0px;
  background-color: transparent;
  color: #B3D0EC;
  font-size: 20px;
}

.sidebar-button:hover {
  color: white;
  cursor: pointer;
  background-color: #B3D0EC;
}
