ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}
ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-button {
  border: 0px;
  background-color: transparent;
  color: #B3D0EC;
  font-size: 20px;
}

.sidebar-button:hover {
  cursor: pointer;
  background-color: #0052A3;
  color: white;
}

.profile-button {
  background-color: none;
}